<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Use the title from a page's frontmatter if it has one -->
    <title><%= current_page.data.title || 'Middleman' %></title>

    <%= stylesheet_link_tag 'header', 'site', 'footer', 'index' %>
    <%= javascript_include_tag 'site', 'classie'%>
  </head>
  <body>
    <div class="jumbo-cover">
      <img class="jumbo-cover-img" src= "<%= current_page.data.cover_image %>" />
      <div class="container">
        <%= partial 'partials/home_header' %>
          <%= yield %>
        <%= partial 'partials/footer' %>
      </div>
    </div>
  </body>

  <!--Some scipts that runs after the page loads -->
  <%= javascript_include_tag 'header' %>

</html>
