<!doctype html>
<html>
  <%= partial 'partials/head_meta' %>
  <body>
    <%= partial 'partials/introduction' %>
    <div class="container">
      <%= partial 'partials/home_header' %>
        <%= yield %>
    </div>
    <script>
      if (window.netlifyIdentity) {
        window.netlifyIdentity.on("init", user => {
          if (!user) {
            window.netlifyIdentity.on("login", () => {
              document.location.href = "/admin/";
            });
          }
        });
      }
    </script>
    <%= partial 'partials/footer' %>
  </body>
</html>
