---
layout: "page"
blog: "member"
title_header: Our Team
directory_index: false
---
<div class="row">
  <div class="col-12">
    <h1><%= current_page.data.title_header %></h1>
  </div>
  <% page_articles[0...3].each_with_index do |article, i| %>
    <div class="col-4 center">
      <div class="img center">
        <img style="height:200px" src="<%=article.data.thumbnail %>" />
      </div>
      <%if article.data.name_la == 'english' %>
        <h3><%= link_to article.title, article %></h3>
      <% else %>
        <h3><%= link_to article.data.japanese_title, article %></h3>
      <% end %>
      <p><%= article.data.role %></p>
      <!--<%= article.data %>-->
    </div>
  <% end %>
  <% page_articles[3...6].each_with_index do |article, i| %>
    <div class="col-4 center">
      <div class="img center">
        <img style="height:200px" src="<%=article.data.thumbnail %>" />
      </div>
      <%if article.data.name_la == 'english' %>
        <h3><%= link_to article.title, article %></h3>
      <% else %>
        <h3><%= link_to article.data.japanese_title, article %></h3>
      <% end %>
      <p><%= article.data.role %></p>
      <!--<%= article.data %>-->
    </div>
  <% end %>
  <% page_articles[6...9].each_with_index do |article, i| %>
    <div class="col-4 center">
      <div class="img center">
        <img style="height:200px" src="<%=article.data.thumbnail %>" />
      </div>
      <%if article.data.name_la == 'english' %>
        <h3><%= link_to article.title, article %></h3>
      <% else %>
        <h3><%= link_to article.data.japanese_title, article %></h3>
      <% end %>
      <p><%= article.data.role %></p>
      <!--<%= article.data %>-->
    </div>
  <% end %>
  <% page_articles[9...12].each_with_index do |article, i| %>
    <div class="col-4 center">
      <div class="img center">
        <img style="height:200px" src="<%=article.data.thumbnail %>" />
      </div>
      <%if article.data.name_la == 'english' %>
        <h3><%= link_to article.title, article %></h3>
      <% else %>
        <h3><%= link_to article.data.japanese_title, article %></h3>
      <% end %>
      <p><%= article.data.role %></p>
      <!--<%= article.data %>-->
    </div>
  <% end %>
</div>
